p{
  font-family: arial;
}
.para1{
  font-weight:bold;
  font-size:30px;
  width:500px;
  line-height:35px;
  margin-bottom:5px;
}
.p2{
  font-size:14px;
  color:rgb(96, 96, 96);
  margin-top: 0px;
  margin-bottom:15px;

}
.p3{
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 18px;
  color: rgb(96, 96, 96);
}
.p4{
  font-size: 14px;
  color: rgb(96, 96, 96);
  line-height: 20px;
  margin-bottom:100px;
  width:250px;
}
.p5{
  background-color: rgb(227, 65, 64);
  padding: 18px;
  color: white;
  font-size: 14px;
  text-align: center;
  margin-left: 8px;
  margin-right: 8px;

}
.hehe{
cursor:pointer;

}
.hehe:hover{
text-decoration: underline;
}
